html
  head
    title= title
  body
    h1= message
    p= 'Please input URL with a format like this example: `/api/images?fileName=imageA&width=200&height=200`'
    p= 'For file names, refer following ones:'
    ol 
      li='imageA'
      li='imageB'
      li='imageC' 
      li='imageD'